    /* .darken-pseudo {
    position: relative;
}

.darken-pseudo:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.575);
} */
    /* .header {
    height: 65vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../../../assets/img/page-en-construction.jpg");
    background-size: cover;
    position: relative;
}

.page-heading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #aaa;
    white-space: nowrap;
}

.page-heading-primary {
    display: block;
    font-size: 3.125rem;
    font-weight: 300;
    color: #3498db;
}

.page-heading-secondary {
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.5px;
} */
    /* .hero-banner {
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    .hero-overlay {
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .hero-heading {
        position: absolute;
        top: 45%;
        margin: 0 10%;
        font-weight: bolder;
    } */
    
    #minimal-bootstrap-carousel {
        margin-top: 0px;
        position: relative;
    }
    
    #minimal-bootstrap-carousel .carousel-caption {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 0;
        text-align: right;
        text-shadow: none;
    }
    
    #minimal-bootstrap-carousel .carousel-caption .container {
        display: table;
        width: 100%;
        height: 100%;
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    @media (max-width: 1199px) {
        #minimal-bootstrap-carousel .carousel-caption .container {
            max-width: 960px;
        }
    }
    
    @media (max-width: 991px) {
        #minimal-bootstrap-carousel .carousel-caption .container {
            max-width: 720px;
            justify-content: center;
            align-items: center;
        }
    }
    
    @media (max-width: 667px) {
        #minimal-bootstrap-carousel .carousel-caption .container {
            max-width: 720px;
            justify-content: center;
            align-items: center;
        }
        #minimal-bootstrap-carousel [class*=carousel-control] {
            width: 30px;
            height: 30px;
            font-size: 15px;
            line-height: 30px;
        }
    }
    
    @media (max-width: 480px) {
        #minimal-bootstrap-carousel [class*=carousel-control] {
            width: 40px;
            height: 40px;
            font-size: 17px;
            line-height: 40px;
            background: rgba(255, 255, 255, 0.4);
            color: #000;
        }
    }
    
    #minimal-bootstrap-carousel .carousel-caption .container .box {
        display: table-cell;
        text-align: left;
    }
    
    #minimal-bootstrap-carousel .carousel-caption .container .box.valign-top {
        vertical-align: top;
    }
    
    #minimal-bootstrap-carousel .carousel-caption .container .box.valign-bottom {
        vertical-align: bottom;
    }
    
    #minimal-bootstrap-carousel .carousel-caption .container .box.valign-middle {
        vertical-align: middle;
    }
    
    #minimal-bootstrap-carousel .carousel-caption .container .box .content {
        display: block;
    }
    
    .darken-pseudo {
        position: relative;
    }
    
    .darken-pseudo:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        background-color: rgba(0, 0, 0, 0.733);
    }
    
    #minimal-bootstrap-carousel.slider-home-one .carousel-inner .carousel-item {
        min-height: 650px;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-color: #222;
    }
    
    .slider-content-style .content {
        text-align: center;
        position: relative;
        z-index: 999;
    }
    
    .slider-content-style .content h3,
    .slider-content-style .content h2,
    .slider-content-style .content p {
        margin: 0;
    }
    
    .slider-content-style .content h3 {
        color: rgb(151, 151, 52);
        font-size: 80px;
        line-height: 1em;
        font-weight: 600;
        font-family: 'Josefin Sans';
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
    }
    
    .slider-content-style .content p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        font-size: 30px;
        color: #FFFFFF;
        letter-spacing: .150em;
        margin-top: 20px;
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s;
    }
    
    .slider-content-style .content a.thm-btn {
        background: #ffba60;
        display: inline-block;
        vertical-align: middle;
        color: #222222;
        font-size: 18px;
        letter-spacing: .1em;
        font-family: 'Josefin Sans';
        font-weight: 600;
        padding: 10px 17px;
        margin-top: 27px;
        transition: all .4s ease;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
    }
    
    .slider-content-style .content a.thm-btn:hover {
        background: #fff;
    }