<!-- <div class="header">
    <h1 class="page-heading">
        <span class="page-heading-primary">Mode de développement</span>
        <span class="page-heading-secondary">Désolé, cette section est toujours en développement.</span>
    </h1> -->

<!-- <div class="Image darken-pseudo">
                <h3>Mode de développement</h3>
                <p>Désolé, cette section est toujours en développement.</p>
            </div> -->

<!-- HERO BANNER -->
<!-- <section class="hero-banner darken-pseudo" style="background-image: url('../../../../assets/img/page-en-construction.jpg')">

    <div class="hero-overlay">

    

        <h1 class="hero-heading">Simple Hero Banner</h1>



    </div>

</section> -->
<!-- end of HERO BANNER -->

<div id="minimal-bootstrap-carousel" class="carousel slide carousel-fade slider-content-style slider-home-one" data-ride="carousel" data-interval="6000">


    <div class="carousel-inner">
        <div class="carousel-item active slide-1 darken-pseudo" style="background-image: url('assets/img/page-en-construction.jpg');">
            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content text-center">
                            <h3 data-animation="animated fadeInUp">Travail en cours..</h3>
                            <p>Cette section est actuellement en développement.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>