<!-- <div class="stickyButtons">
  <div class="row" class='divOfMyButton' aria-hidden="true">
    <div class="col col-lg-12" routerLink="./donations/calc">
      <button class="rotateimg180 My_Button-Design"> Donation </button>
    </div>
  </div>
  <div class="row" class="divOfMySecondButton">
    <div class="col col-lg-12" routerLink="./member">
      <button class="rotateimg180 My_Button-Design"> Être membre </button>
    </div>
  </div>
</div> -->
<div class="float-sm">
<div class="fl-fl float-fb" routerLink="donations/calc">
  <i class="fas fa-donate"></i>
  <a> Donation</a>
</div>
<div class="fl-fl float-tw" routerLink="member">
  <i class="fas fa-users"></i>
  <a>Etre Membre</a>
</div>
</div>
