<h1 mat-dialog-title>
  En raison de problèmes techniques, veuillez nous contacter:</h1>
<div mat-dialog-content>
            <div class="row">
                <div class="col-xl-6 col-md-6 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Par Courrier</h4>
                            <span>Adressé au 129 Avenue de Saint-ouen, 75017 Paris</span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-md-6 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Par mail</h4>
                            <span>association.emilys@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>

</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="GoToHome()">Fermer</button>
</div>
