.header-item{
  width:100% !important;
  text-align: center;
}
.SpacingNavbar {
  width:15% !important;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  //CSS Code
  .SpacingNavbar{
    width:100% !important;
  }
  }

  @media only screen and (min-width: 768px) and (max-width: 979px) {
    //CSS Code
    .SpacingNavbar{
      width:100% !important;
    }
    }


* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: system-ui;
  font-weight: bold;
}

body {
  overflow-x: hidden;
}

:before,
:after {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.v-center {
  align-items: center;
}

h4 {
  cursor: pointer;
}
/*HEADER*/

.header {
  position: relative;
  display: block;
  z-index: 99;
  width: 100%;
  padding: 15px;
}

.header .logo a {
  font-size: 26px;
  font-weight: 900;
  color: black;
  text-transform: uppercase;
}

.header .item-left {
  flex: 0 0 17%;
}

// .header .item-center {
//   flex: 0 0 66%;
// }
.spacing{
margin-top : 15.5%;
}

.header .item-right {
  flex: 0 0 17%;
  display: flex;
  justify-content: flex-end;
}

.header .item-right a {
  font-size: 17px;
  color: black;
  display: inline-block;
  margin-left: 10px;
}

/*HEADER MENU*/

.header .menu > ul > li {
  display: inline-block;
  line-height: 30px;
  margin-left: 25px;
}

.header .menu > ul > li > a {
  font-size: 14px;
  position: relative;
  color: black;
  cursor: pointer;
}

.header .menu > ul > li > a:hover {
text-decoration: underline;
}

/*SUB MENU*/

.header .menu > ul > li .sub-menu {
  position: absolute;
  z-index: 500;
  background-color: #edfff4;
  box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
  // padding: 30px 31px;
  // margin-top: 25px;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;

}

.header .menu > ul > li .single-column-menu {
  min-width: 168px;
  max-width: 231px;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li {
  line-height: 1;
  display: block;
  cursor: pointer;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
  padding: 8px 0;
  display: inline-block;
  font-size: 12px;
  color: #555;
  cursor: pointer;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover{
  text-decoration: underline;
}

.header .menu > ul > li .sub-menu > ul > li > a {
  display: inline-block;
  padding: 4px 0;
  font-size: 12px;
  color: black;
}

.header .menu > ul > li .sub-menu > ul > li > a:hover {
text-decoration: underline;
}

@media (min-width: 992px) {
  .header .menu > ul > li.menu-item-has-children:hover .sub-menu {
    margin-top: 0;
    opacity: 1;
    margin-top: 14px;
    visibility: visible;
  }
}

.header .menu > ul > li .sub-menu.mega-menu {
  left: 50%;
  transform: translateX(-50%);
}

.header .menu > ul > li .sub-menu.mega-menu-column-6 {
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 15px;
}

.header .menu > ul > li .sub-menu.mega-menu-column-6 > .list-item {
  flex: 0 0 32%;
  padding: 0px 15px;
}

.header .menu > ul > li .sub-menu.mega-menu-column-6 > .list-item .title {
  font-size: 16px;
  color: black;
  margin-bottom: 5%;
}

.header .menu > ul > li .sub-menu.mega-menu-column-6 > .list-item img {
  max-width: 100%;
  width: 100%;
  margin-top: 10px;
  vertical-align: middle;
}

.header
  .menu
  > ul
  > li
  .sub-menu.mega-menu-column-6
  > .list-item.text-center
  .title {
  text-align: center;
}

.banner-section {
  display: block;
  width: 100%;
  background-color: #1c9042;
  //height: 700px;
}

.mobile-menu-head,
.mobile-menu-trigger {
  display: none;
}

/*RESPONSIVENESS*/

@media (max-width: 991px) {
  .header .item-center {
    order: 3;
    flex: 0 0 100%;
  }

  .header .item-left,
  .header .item-right {
    flex: 0 0 auto;
  }

  .v-center {
    justify-content: space-between;
  }

  .header .mobile-menu-trigger {
    display: flex;
    height: 30px;
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  .header .mobile-menu-trigger span {
    position: relative;
    display: block;
    height: 2px;
    background-color: #333;
    width: 24px;
  }

  .header .mobile-menu-trigger span:before,
  .header .mobile-menu-trigger span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
  }

  .header .mobile-menu-trigger span:before {
    top: -6px;
  }

  .header .mobile-menu-trigger span:after {
    top: 6px;
  }

  .header .item-right {
    align-items: center;
  }

  .header .menu {
    position: fixed;
    width: 320px;
    height: 100%;
    background-color: white;
    left: 0;
    top: 0;
    overflow: hidden;
    transform: translate(-100%);
    transition: all 0.5s ease;
    z-index: 1099;
  }

  .header .menu.active {
    transform: translate(0%);
  }

  .header .menu > ul > li {
    line-height: 1;
    margin: 0;
    display: block;
  }

  .header .menu > ul > li > a {
    line-height: 50px;
    height: 50px;
    padding: 0px 50px 0 15px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .header .menu > ul > li > a i {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 50px;
    transform: rotate(-90deg);
  }

  .header .menu .mobile-menu-head {
    display: flex;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    z-index: 5012;
    position: sticky;
    background-color: #edfff4;
    top: 0;
  }

  .header .menu .mobile-menu-head .go-back {
    height: 50px;
    width: 50px;
    font-size: 16px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
  }

  .header .menu .mobile-menu-head.active .go-back {
    display: block;
  }

  .header .menu .mobile-menu-head .current-menu-title {
    font-size: 15px;
    font-weight: 900;
    color: black;
  }

  .header .menu .mobile-menu-head .mobile-menu-close {
    height: 50px;
    width: 50px;
    font-size: 22px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
  }

  .header .menu .menu-main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #edfff4
  }

  .header .menu > ul > li .sub-menu.mega-menu,
  .header .menu > ul > li .sub-menu {
    visibility: visible;
    opacity: 1;
    position: absolute;
    box-shadow: none;
    margin: 0;
    padding: 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 65px;
    transform: translateX(0%);
    max-width: none;
    min-width: auto;
    display: none;
    overflow-x: auto;
  }

  .header .menu > ul > li .sub-menu.active {
    display: block;
  }

  /*KEYFRAMES LEFT*/

  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }


  /*KEYFRAMES RIGHT*/
  @keyframes slideRight {
    0% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }

  .header .menu > ul > li .sub-menu.mega-menu-column-6 > .list-item {
    flex: 0 0 100%;
    padding: 0px;
  }

  .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
    margin-bottom: 20px;
  }

  .header .menu > li .sub-menu > ul > li > a,
  .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
    display: block;
  }

  .header .menu > ul > li .sub-menu.mega-menu-column-6 > .list-item img {
    margin-top: 0;
  }

  .header
    .menu
    > ul
    > li
    .sub-menu.mega-menu-column-6
    > .list-item.text-center
    .title {
    margin: 20px 0;
  }

  .header
    .menu
    > ul
    > li
    .sub-menu.mega-menu-column-6
    > .list-item.text-center:last-child
    .title {
    margin-bottom: 0;
  }

  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1098;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .menu-overlay.active {
    opacity: 1;
    visibility: visible;
  }
}
