<div class="container custom">
<div class="pdf-container" style="position: relative; min-height: 500px">
  <ngx-spinner       bdColor="rgba(255,255,255"    bdColor="rgba(237,255,244,0.9)"
    size="large"
    color="#1c9042"
    type="ball-spin-fade-rotating"
    [fullScreen]="false"
  ></ngx-spinner>
  <pdf-viewer
    (on-progress)="onProgress($event)"
    [src]="pdfSrc"
    [original-size]="false"
  ></pdf-viewer>
</div>

<div class="wrapper">
  <div class="our_team">
    <div class="team_member">
      <div class="member_img">
        <img src="assets/img/Lucie Pourprix Zongo.jpg" />
        <div class="social_media">
          <p>...</p>
        </div>
      </div>
      <h3>Lucie Pourprix Zongo</h3>
      <span>Correspondante Région Bourgogne-Franche-Comté</span>
    </div>
    <div class="team_member">
      <div class="member_img">
        <img src="assets/img/Adelina Syla Osmani.jpg" />
        <div class="social_media">
          <p>...</p>
        </div>
      </div>
      <h3>Adelina Syla Osmani</h3>
      <span>Correspondante Région Rhônes-Alpes</span>
    </div>
    <div class="team_member">
      <div class="member_img">
        <img src="assets/img/Anne Sophie Gicquiaux.jpg" />
        <div class="social_media">
          <p>...</p>
        </div>
      </div>
      <h3>Anne Sophie Gicquiaux</h3>
      <span>Correspondante Région PACA</span>
    </div>
  </div>
</div>
</div>
