<footer>
    <div class="footer-bottom">
      <div >
        <span style="margin-right: 10px;" class="copyright"><a href="https://www.facebook.com/Association-Emilys-112651087182550/"  target="_blank"><i class="fab fa-facebook-f"></i></a></span>
        <span class="copyright"><a href="https://mail.google.com/mail/?view=cm&fs=1&to=associationemilys@gmail.com&su=subject_here&body=body_here"  target="_blank"><i class="fab fa-google-plus-g"></i></a></span>
      </div>
        <div class="footer-bottom-copyright-text">
            &copy; 2020 Association Emilys | Tous droits réservés
        </div>
        <div class="footer-bottom-social-icons">
            <ul id="footer-social-links">
                <li><a [routerLink]="''">Accueil</a></li> |
                <li><a [routerLink]="'/MentionsLégales/RGPD'">Mentions Légales</a></li> |
                <li><a [routerLink]="'/MentionsLégales/RGPD'">RGPD</a></li> |
                <li><a [routerLink]="'/nous-contacter'">Nous contacter</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom-site-credit"><span id="site-credit"><a href="https://www.facebook.com/mindsunionleb" target="_blank">Copyright © 2020-2021 MindsUnion </a></span></div>
</footer>
