
<div class="contact  darken-pseudo">
  <div class="container">
      <div class="row">
          <div class="col-md-6 mx-auto">
              <form class="p-5" [formGroup]="memberData" (ngSubmit)="onSubmit()">

                  <p class="h4 mb-4 text-center">Veuillez remplir le formulaire</p>


                  <input class="form-control mb-4" id="textInput" type="text" formControlName="FirstName" placeholder="Prénom" required>

                  <input type="text" id="defaultContactFormName" class="form-control mb-4" formControlName="LastName" placeholder="Nom" required>

                  <input type="text" formControlName="Address" id="AddressInp" class="form-control mb-4" value="" placeholder="Adresse" required />
                  <input type="number" formControlName="PostalCode" id="postalCodeInp" class="form-control mb-4" value="" placeholder="Code Postal" min="0" minlength="3" oninput="validity.valid||(value='');" required/>
                  <input type="text" formControlName="City" id="VilleInp" class="form-control mb-4" value="" placeholder="Ville" required />

                  <label>Montant à payer
                  <input type="number" formControlName="amount" class="form-control mb-4"
                  id="amount" name="amount" value="" min="0" inputmode="numeric" oninput="validity.valid||(value='');">
                  </label>
                  <span id="currency" style="padding-left: 1px;"> €</span>
                  <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="Courriel" formControlName="email" required>
                  <button class="btn btn-info btn-block curtainup" type="submit" [disabled]="!memberData.valid">Envoyer</button>
              </form>
          </div>
      </div>
  </div>
</div>
