 @import "~@angular/material/prebuilt-themes/indigo-pink.css";

// html {
//     height: 100%;
// }

body {
    min-height: 100%;
    position: relative;
    /* background-image: url('assets/imgs/bg Z.png'); */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

label {
    /* color:white; */
    font-size: 16px;
}
.ngx-spinner-overlay{
  z-index: 1 !important;
}
.custom {
  margin-top: 2%;
  margin-bottom: 2%;
}

.search_criteria_section {
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    margin-top: 4px;
    /* color:white;
  background-color: rgba(0,0,0,0.5); */
}

.entry_section {
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
    /* color:white;
  background-color: rgba(0,0,0,0.5); */
}

.entry_section_child {
    border: 1px solid white;
    border-radius: 4px;
    margin: 8px;
    padding: 8px;
}

.container_actions {
    background-color: #3f51b5;
    border-radius: 5px;
    padding: 5px;
}

.vertical_cations {
    border: 1px solid red;
    margin-top: 10px;
    margin-left: 1px;
}

.custom-dialog-container .mat-dialog-container {
    height: 50%;
    /* text-align: center; */
    background-color: rgb(97, 95, 95);
    border-color: rgb(100, 192, 100);
    border-radius: 5px;
    color: white;
}

.custom-dialog-container .mat-dialog-container .mat-dialog-actions {
    padding-top: 20px;
    justify-content: center;
    /* background-color: rgb(18, 88, 18);
    color: white;
    font-size: 18px; */
}

.custom-dialog-container .mat-dialog-container .mat-dialog-actions .mat-button {
    background-color: rgb(18, 88, 18);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
}

.custom-dialog-container .mat-dialog-container .mat-dialog-content {
    font-size: 18px;
    font-family: system-ui;
    font-weight: bold;
    text-align: center;
}

.contact-dialog-container .mat-dialog-container {
  height: 50%;
  /* text-align: center; */
  background-color: #91af91;
  border-color: rgb(100, 192, 100);
  border-radius: 5px;
  color: white;
  border: solid 1.5px;
}

.contact-dialog-container .mat-dialog-container .mat-dialog-actions {
  padding-top: 20px;
  justify-content: center;
  /* background-color: rgb(18, 88, 18);
  color: white;
  font-size: 18px; */
}

.contact-dialog-container .mat-dialog-container .mat-dialog-actions .mat-button {
  background-color: rgb(18, 88, 18);
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 3px;
}

.contact-dialog-container .mat-dialog-container .mat-dialog-content {
  font-size: 18px;
  font-family: system-ui;
  font-weight: bold;
  text-align: center;
}
.contact-dialog-container .mat-dialog-container .mat-dialog-title {
  font-size: 1.5em;
  font-family: system-ui;
  font-weight: bold;
      color: black;
}
.ng2-pdf-viewer-container {
  overflow-x: unset !important;
}
