<div class="container-fluid" style="background-color: #edfff4">
    <div class="bd-example">
        <div
            id="minimal-bootstrap-carousel" class="carousel slide slider-content-style slider-home-one" data-interval="7000">
            <!-- <ol class="carousel-indicators">
                          <li data-target="minimal-bootstrap-carousel" data-slide-to="0" class="active"></li>
                          <li data-target="minimal-bootstrap-carousel" data-slide-to="1"></li>
                          <li data-target="minimal-bootstrap-carousel" data-slide-to="2"></li>

                      </ol> -->

            <div class="carousel-inner">
                <div class="carousel-item active slide-1" style="background-image: url('assets/img/whoAre.jpg')">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="box valign-middle">
                                <div class="content text-center">
                                    <h3 [routerLink]="'/Association/LeBurreau'" style="
                                                                  cursor: pointer;
                                                                  background-color: rgb(255, 255, 255, 0.2);
                                                                  border-radius: 10px;
                                                                ">
                                        Qui Sommes Nous ?
                                    </h3>
                                    <p>
                                        L’association EMILYS a vu le jour le 29 Avril 2020, de la
                                                            volonté de plusieurs personnes touchées par l’histoire
                                                            d’Emilie, et désirant promouvoir la sécurité dans les
                                                            laboratoires de recherche et médical.
                                    </p>
                                    <!-- <a [routerLink]="'/Association/LeBurreau'" class="thm-btn ">Qui sommes nous ?</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item slide-2" style="background-image: url('assets/img/memberslide.jpg')">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="box valign-middle">
                                <div class="content text-center">
                                    <h3 [routerLink]="'/member'" style="
                                                                  cursor: pointer;
                                                                  background-color: rgb(255, 255, 255, 0.2);
                                                                  border-radius: 10px;
                                                                ">
                                        Ensemble, on est plus fort !
                                    </h3>
                                    <p>
                                        Rejoignez nous et devenez acteur pour renforcer la sécurité
                                                            et la protection des personnels du laboratoire.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item slide-3" style="background-image: url('assets/img/slide3.jpg')">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="box valign-middle">
                                <div class="content text-center">
                                    <h3 [routerLink]="'/donations/calc'" style="
                                                                  cursor: pointer;
                                                                  background-color: rgb(255, 255, 255, 0.2);
                                                                  border-radius: 10px;
                                                                ">
                                        Soutenez l’Association Emilys
                                    </h3>
                                    <p>
                                        Faire un don à notre association, c'est nous permettre
                                                            d'agir et de nous aider à réaliser nos objectifs.
                                        <br/>Faites un don à notre association !
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#minimal-bootstrap-carousel" role="button" data-slide="prev">
                    <i class="glyphicon glyphicon-chevron-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#minimal-bootstrap-carousel" role="button" data-slide="next">
                    <i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <!-- <section class="wrapper">
        <div class="container-fostrap">
          <div class="content">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="card">
                    <a class="img-card">
                      <img src="assets/img/Photo_partie_Emilie.png" />
                    </a>
                    <div class="card-content">
                      <h4 class="card-title">
                        <a> L'histoire d'Emilie </a>
                      </h4>
                      <p class="">
                        Emilys, un nom d’association qui n’a pas été choisi au
                        hasard..
                      </p>
                    </div>
                    <div class="card-read-more">
                      <a
                        [routerLink]="'Emilie'"
                        class="btn btn-link btn-block"
                      >
                        Lire la suite
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="card">
                    <a class="img-card">
                      <img src="assets/img/Screenshot (3).png" />
                    </a>
                    <div class="card-content">
                      <h4 class="card-title">
                        <a> Nos missions </a>
                      </h4>
                      <p class="">
                        Nos missions se divisent selon trois grands axes..
                      </p>
                    </div>
                    <div class="card-read-more">
                      <a
                        [routerLink]="'NosMissions'"
                        class="btn btn-link btn-block"
                      >
                        Lire la suite
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->

    <section class="w3l-content-w-photo-6">
        <div class="content-photo-6-mian py-5">
            <div class="container py-lg-5">
                <div class="align-photo-6-inf-cols row rowRisqueSection">
                    <div class="photo-6-inf-left col-lg-6">
                        <img src="assets/img/Photo_partie_Emilie.png" class="img-fluid" style="border-radius: 5px" alt=""/>
                    </div>
                    <div class="photo-6-inf-right col-lg-6">
                        <h3 class="hny-title text-center" style="color: #1c9042">
                            L'histoire d'Emilie
                        </h3>
                        <p style="margin-top: 30px; font-weight: 500 !important">
                            L’association Emilysrend  hommage  à  Emilie,  une jeune  technicienne  de  laboratoire  contaminée  à  la suite d’un accident du travail dans un laboratoire de l’Institut  National  de  la  Recherche  Agronomique (ex-INRA) par la maladie de Creutzfeldt-Jakob..
                        </p>
                        <div class="buttonDesign">
                            <a [routerLink]="'Emilie'" class="designHref">
                                Lire la suite
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-photo-6-mian py-5">
            <div class="container py-lg-5">
                <div class="align-photo-6-inf-cols row rowRisqueSection">
                    <div class="photo-6-inf-left col-lg-6">
                        <img src="assets/img/Screenshot (3).png" class="img-fluid" style="border-radius: 5px" alt=""/>
                    </div>
                    <div class="photo-6-inf-right col-lg-6">
                        <h3 class="hny-title text-center" style="color: #1c9042">
                            Nos missions
                        </h3>
                        <p style="margin-top: 30px; font-weight: 500 !important">
                          L'Association Emilys s'engage dans des actions visant à assurer et à renforcer la sécurité et la  protection  du  personnel  travaillant  en  laboratoire,  sans  distinction  de  domaine  d'activité..
                        </p>
                        <div class="buttonDesign">
                            <a [routerLink]="'NosMissions'" class="designHref">
                                Lire la suite
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /specification-6-->
        <div class="content-photo-6-mian py-5">
            <div class="container py-lg-5">
                <div class="align-photo-6-inf-cols row rowRisqueSection">
                    <div class="photo-6-inf-left col-lg-6">
                        <img src="assets/img/11.jpg" class="img-fluid" style="border-radius: 5px" alt=""/>
                    </div>
                    <div class="photo-6-inf-right col-lg-6">
                        <h3 class="hny-title text-center" style="color: #1c9042">
                            Les Risques Biologique
                        </h3>
                        <p style="margin-top: 30px; font-weight: 500 !important">
                            La plupart des agents biologiques sont inoffensifs pour l’homme.
                                          Certains sont même utilisés pour la production de produits
                                          alimentaires (pain, fromages, ...) et dans les biotechnologies
                                          (production de vaccins, d’anticorps, ...). Cependant d’autres
                                          agents biologiques peuvent être à l’origine de maladies plus ou
                                          moins graves chez l’homme..
                        </p>
                        <div class="buttonDesign">
                            <a routerlink="/SecuriteLaboratoire/RisquePrevention/RisqueBiologique" class="designHref">
                                Lire la suite
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-photo-6-mian py-5">
            <div class="container py-lg-5">
                <div class="align-photo-6-inf-cols row rowRisqueSection">
                    <div class="photo-6-inf-left col-lg-6">
                        <img src="assets/img/occ.jpg" style="border-radius: 5px" class="img-fluid" alt=""/>
                    </div>
                    <div class="photo-6-inf-right col-lg-6">
                        <h3 class="hny-title text-center" style="color: #1c9042">
                            Maladie Professionelle
                        </h3>
                        <p style="margin-top: 30px; font-weight: 500 !important">
                            Est présumée d'origine professionnelle toute maladie désignée dans
                                          un tableau de maladies professionnelles et contractée dans les
                                          conditions mentionnées à ce tableau.Si une ou plusieurs conditions
                                          tenant au délai de prise en charge, à la durée d'exposition ou à
                                          la liste limitative des travaux ne sont pas remplies...
                        </p>
                        <div class="buttonDesign">
                            <a routerlink="/SecuriteLaboratoire/RisquePrevention/RisqueChimique" class="designHref">
                                Lire la suite
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-photo-6-mian py-5">
            <div class="container py-lg-5">
                <div class="align-photo-6-inf-cols row rowRisqueSection">
                    <div class="photo-6-inf-left col-lg-6">
                        <img src="assets/img/photo-1.jpg" class="img-fluid" style="border-radius: 5px" alt=""/>
                    </div>
                    <div class="photo-6-inf-right col-lg-6">
                        <h3 class="hny-title text-center" style="color: #1c9042">
                            Les Risques Radioactif
                        </h3>
                        <p style="margin-top: 30px; font-weight: 500 !important">
                            Le risque radioactifLes éléments radioactifs peuvent être d’origine naturelle ou artificielle. Ils sont caractérisés par une instabilité de la composition de leur noyau qui se manifeste par l’émission de particules ou de photons : ce sont les rayonnements ionisants..
                        </p>
                        <div class="buttonDesign">
                            <a routerlink="/SecuriteLaboratoire/RisquePrevention/RisquePhysique" class="designHref">
                                Lire la suite
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-photo-6-mian py-5">
            <div class="container py-lg-5">
                <div class="align-photo-6-inf-cols row rowRisqueSection">
                    <div class="photo-6-inf-left col-lg-6">
                        <img src="assets/img/wallpImg.jpg" class="img-fluid" style="border-radius: 5px" alt=""/>
                    </div>
                    <div class="photo-6-inf-right col-lg-6">
                        <h3 class="hny-title text-center" style="color: #1c9042">
                            La protection au laboratoire
                        </h3>
                        <p style="margin-top: 30px; font-weight: 500 !important">
                            L’exposition  quotidienne  ou  exceptionnelle  au  danger  au  sein  de  l’entreprise  peut  avoir  de réelles conséquences sur la santé physique et morale de l’employé qui y est exposé. Le  chef  d’entreprise  est  responsable  de  ses employés  et  se  présente  comme  garant  de  leur sécurité...
                        </p>
                        <div class="buttonDesign">
                            <a routerlink="/SecuriteLaboratoire/RisquePrevention/RisqueRadioActif" class="designHref">
                                Lire la suite
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
