.col-md-12 {
    text-align: justify;
}

#logo {
    padding-top: 40px;
    font-family: system-ui;
    color: #555;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: #EDEDED 3px 2px 0;
    position: relative;
}

#logo:after {
    /*background: url(https://subtlepatterns.com/patterns/crossed_stripes.png) repeat;*/
    background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
    background-size: 4px 4px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -5;
    display: block;
    text-shadow: none;
}

p {
    padding-top: 20px;
    font-family: system-ui;
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 10px;
    text-align: left;
}

ul li {
    padding-top: 10px;
    font-family: system-ui;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    text-align: left;
    list-style-type: decimal;
}

a {
    font-family: system-ui;
    font-size: 18px;
    font-weight: bold;
    color: rgb(25, 105, 25);
}

a:hover {
    font-style: italic;
    color: red;
}
