<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 id="logo">Mentions légales</h1>
            <p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site Emilys l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi
                :
            </p>
            <ul class="Men-Leg">
                <li>L’Association Emilys est une association reconnue loi de 1901. Le siège social de l’association a été défini à l’adresse suivante : 129 avenue de Saint Ouen, 75017 PARIS. </li>
                <li>Le nom du directeur de la publication: Abir Tadmouri.</li>
                <li>Hébergeur : <a href="https://www.winhost.com/">winhost</a></li>
            </ul>
            <h1 id="logo">RGPD</h1>
            <p>Conformément à la Loi « Informatique et Libertés » n° 78-17 du 6 janvier 1978, les informations vous concernant sont destinées à Emilys, responsable du traitement. Vous disposez d'un droit d'accès, de rectification et de suppression des données
                qui vous concernent. Vous pouvez exercer ce droit en adressant un e-mail à l'adresse électronique suivante:</p>
            <div class="text-center">
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=associationemilys@gmail.com&su=subject_here&body=body_here">associationemilys@gmail.com </a>
            </div>

            <p>Le responsable du traitement des Données Personnelles (DPO) étant : Gérald Sellier. Vos données personnelles communiquées ne seront en aucun cas vendues ou transmises à des tiers ou à d'autres entreprises à des fins commerciales et publicitaires.
                Consultez le site cnil.fr pour plus d’informations sur vos droits. Si vous estimez, après nous avoir contactés, que vos droits « Informatique et Libertés » ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL.</p>
        </div>
    </div>
</div>
