.border.p-5 {
  border: black;
}

.h4.mb-4 {
  font-size: 35px;
  font-family: system-ui;
  color: black;
  padding-bottom: 20px;
}

.mb-4,
#exampleFormControlTextarea2 {
  font-size: medium;
  font-weight: bolder;
  display: block;
  border-color: #1c9042;
}

::placeholder {
  color: black;
}

.browser-default {
  height: 34px;
  width: 495px;
}

select option {
  background-color: rgb(129, 125, 125);
}

select option:hover {
  background-color: #1c9042;
}

.contact {
  background-image: url('../../assets/img/Contact-us-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(80%);
  border: none;
}

#textInput,
#defaultContactFormName,
#defaultContactFormEmail,
#defaultSelect,
#exampleFormControlTextarea2,
#contact-preference {
  background-color: transparent;
  color: black;
}

label {
  color: black;
  padding-left: 10px;
}

.btn.btn-info {
  padding-top: 10px;
}

.buttonfx {
  color: black;
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 4px solid #edfff4;
  letter-spacing: 0.0625em;
  padding: 8px 10px;
  text-transform: uppercase;
  font: 14px 'Bitter', system-ui;
  line-height: 2;
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  overflow: hidden;
  transition: all .5s;
  transform-style: preserve-3d;
  margin-top: 25px;
}

.curtainup:disabled {
  background: gray;
  color: #edfff4;
  outline: none;
  border: none;
  letter-spacing: 0.0625em;
  padding: 8px 10px;
  text-transform: uppercase;
  font:14px 'Bitter', system-ui;
  line-height: 2;
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  overflow: hidden;
  transition: all .5s;
  margin-top: 25px;
}

.curtainup:enabled {
  background: #1c9042;
  color: #edfff4;
  outline: none;
  border-radius: 5px;
  letter-spacing: 0.0625em;
  padding: 8px 10px;
  text-transform: uppercase;
  font: 14px 'Bitter', system-ui;
  line-height: 2;
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  overflow: hidden;
  transition: all .5s;
  transform-style: preserve-3d;
  cursor: pointer;
  margin-top: 25px;
}

.row {
  font-family: system-ui;
  font-size: 14px;
  font-weight: bold;
}

textarea {
  padding-bottom: 20px;
}

li {
  list-style: none;
}
